.Cost__section {
    position: relative;
    animation-name: animate__backInUp;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animate__backInUp {
    from {
        top: 50px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}


.information__left {
    position: relative;
    animation-name: animate__slideInLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes animate__slideInLeft {
    from {
        left: 0;
        opacity: 0;
    }

    to {
        left: 20px;
        opacity: 1;
    }
}


.information__right {
    position: relative;
    animation-name: animate__slideInRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes animate__slideInRight {
    from {
        right: 0;
        opacity: 0;
    }

    to {
        right: 20px;
        opacity: 1;
    }
}


.feedback__title {
    position: relative;
    animation-name: animate__slideInUp;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animate__slideInUp{
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 12px;
        opacity: 1;
    }
}


.star svg {
    color: red;
    width: 30px;
    height: 30px;
}

.feedback__item1 {
    position: relative;
    animation-name: animate__slideInLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.feedback__item2 {
    position: relative;
    animation-name: animate__slideInRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
}