



.all {
    max-width: 1536px;
    margin: 0 auto;
}



.navigation 

.dropdown__item .dropdown_icon {
    transform: rotate(90deg);
    transition: all 0.4s ease-in-out;
}

.dropdown__item:hover .dropdown_icon {
    transform: rotate(0deg);
}



/* <sas */
.sas__text h1 {
    font-size: 120px;
    text-align: center;
    text-decoration: none;
}

.sas__text h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}



/* <slick */
.brand {
    display: flex;
    justify-content: center;
    
}

.brand h4 {
    margin: 30px 0;
    font-size: 20px;
    
}

.brand__content .brand__item {
    width: 1200px;
    
}

.hr {
    color:  rgb(219 214 207);
    height: 4px;
    width: 100%;
    margin: 80px 0;
}




/* backroudn */


.backround {
    /* background-color: rgb(239 234 227 / var(--tw-bg-opacity)); */
    --tw-bg-opacity: 1;
    background-color: rgb(239 234 227 / var(--tw-bg-opacity));
    border-radius: 30px;
}

.bg {
    background: linear-gradient(135deg, #ff7632, #ff8724);
    filter: blur(50px);   /* làm lem */
    
}



/* <!-- <features --> */  

.features_contain {
    border: 3px solid black;
    border-radius: 16px;
    overflow: hidden; 
}

.features_item {
    position: relative;
    background-color: white;
    
}

.features_item:hover {
    background-color: black;
    transition: all 1s;
}

.features_item h2,
.features_item p,
.features_item a {
    color: black;
}

.features_item:hover h2,
.features_item:hover p,
.features_item:hover a {
    color: white;
    opacity: 1;
    transition: all 1s;
}


.features_item .img_black {
    position: absolute;
} 

.features_item:hover .img_black {
    opacity: 0;
    transition: all 1s;
}

.features_item:hover .img_red {
    opacity: 1;
    
}


/* solution */
.solution_contain h1 {
    font-size: 120px;
    font-weight: bold;
}

.solution_contain {
    
}

.solution_contain p {
    font-size: 20px;
}

.solution_contain .solution_img {
    width: 1000px;
    height: 600px;
}

.solution_contain .solution_text {
    width: 20%;
}


/* ha */

.Cost__section {
    position: relative;
    animation-name: animate__backInUp;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animate__backInUp {
    from {
        top: 50px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}


.information__left {
    position: relative;
    animation-name: animate__slideInLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes animate__slideInLeft {
    from {
        left: 0;
        opacity: 0;
    }

    to {
        left: 20px;
        opacity: 1;
    }
}


.information__right {
    position: relative;
    animation-name: animate__slideInRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes animate__slideInRight {
    from {
        right: 0;
        opacity: 0;
    }

    to {
        right: 20px;
        opacity: 1;
    }
}


.feedback__title {
    position: relative;
    animation-name: animate__slideInUp;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animate__slideInUp {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 12px;
        opacity: 1;
    }
}


.star svg {
    color: red;
    width: 30px;
    height: 30px;
}

.feedback__item1 {
    position: relative;
    animation-name: animate__slideInLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.feedback__item2 {
    position: relative;
    animation-name: animate__slideInRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
}



.footer__title {
    position: relative;
    animation-name: animate__slideInRight;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animate__slideInRight {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(-100%);
    }

}

@media (min-width: 768px) {
    .footer__content {
        grid-template-columns: 1fr auto auto;
    }
}

@media (min-width: 1024px) {
    .footer__content {
        grid-template-columns: 1fr auto auto 1fr;
    }
}

.footer__background {
    --tw-bg-opacity: 1;
    background-color: rgb(239 234 227 / var(--tw-bg-opacity));
}